APP_NAME=eForex
APP_ENV=local
APP_KEY=base64:b7MN/8wEtqlmmvVXJuCbpWhRfVRBn7zhhzalc8xccjQ=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOG=daily

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eforex
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

#**********************************************************
#****************  AMAZON WEB SERVICE  ********************
#**********************************************************
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

#**********************************************************
#****************  PUSHER (REAL TIME)  ********************
#**********************************************************
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#**********************************************************
#**********************  CUSTOM  **************************
#**********************************************************
MAIL_TEST=valentin.akando@gmail.com
BACKUP_NOTIFIER=valentin.akando@gmail.com
MAIL_ERREUR=valentin.akando@gmail.com
MAIL_BACKUP=valentin.akando@gmail.com
PREFIXE_TABLE=gl_

#**********************************************************
#*********************  DEBUGBAR  *************************
#**********************************************************
DEBUGBAR_ENABLED=false

#**********************************************************
#********************  SMS TWILIO  ************************
#**********************************************************
TWILIO_SID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_FROM=438xxxxxxx
SMS_TEST=+15146416546
SMS_BLOQUER=0

#**********************************************************
#**********************  PLIVO  ***************************
#**********************************************************
PLIVO_AUTH_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PLIVO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PLIVO_FROM_NUMBER=+15145145145

#**********************************************************
#**********************  MESSAGEBIRD  ***************************
#**********************************************************
MESSAGEBIRD_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MESSAGEBIRD_ORIGINATOR=AppStart
MESSAGEBIRD_RECIPIENTS=

#**********************************************************
#**********************  NEXMO  ***************************
#**********************************************************
NEXMO_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXMO_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#**********************************************************
#********************  RECAPTCHA  *************************
#**********************************************************
NOCAPTCHA_SECRET=6LfLT_EUAAAAAPll_h2zgQUTO6p05F1GpiQJh5lt
NOCAPTCHA_SITEKEY=6LfLT_EUAAAAAFVheYzMMKH_KKZLFatqvWcUjlac

#**********************************************************
#*****************  BACKPACK CUSTOM  **********************
#**********************************************************
BACKPACK_REGISTRATION_OPEN=true

#**********************************************************
#********************  TELESCOPE  *************************
#**********************************************************
TELESCOPE_ENABLED=true
TELESCOPE_CACHE_WATCHER=false
TELESCOPE_COMMAND_WATCHER=true
TELESCOPE_DUMP_WATCHER=false
TELESCOPE_EVENT_WATCHER=false
TELESCOPE_EXCEPTION_WATCHER=false
TELESCOPE_JOB_WATCHER=true
TELESCOPE_LOG_WATCHER=false
TELESCOPE_MAIL_WATCHER=true
TELESCOPE_MODEL_WATCHER=false
TELESCOPE_NOTIFICATION_WATCHER=true
TELESCOPE_QUERY_WATCHER=false
TELESCOPE_REDIS_WATCHER=false
TELESCOPE_REQUEST_WATCHER=false
TELESCOPE_RESPONSE_SIZE_LIMIT=64
TELESCOPE_GATE_WATCHER=false
TELESCOPE_SCHEDULE_WATCHER=true

#**********************************************************
#**********************  Passport  ***********************
#**********************************************************
PWD_GRANT_NAME="eForex Password Grant Client"
